.application {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content 1fr;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
}

.content {
    display: flex;
    flex-direction: column;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    overflow: hidden;
}

.main {
    flex: 1;
    padding: 20px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 15px;
    overflow-y: auto; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
